html{

	height:100%;
	width:100%;
	padding:0;
	overflow:none;
}


body{

	position: absolute;
	background-color: black;
	height: 100%;
	width:100%;
	padding:0;
	margin: 0;
	top:0;
	bottom: 0;
	text-align: center;
	display: flex;
	justify-content:center;
	slign-items:center;
	overflow:hidden; 

}
.center{
	height:100vh;
	width:108vh;
	margin:auto;
}

#magazine{
	position: relative;
	height: 80vh;
	width:107.6vh;
	margin-top: 5vh;
	-webkit-transition:margin-left 0.4s ease-in-out;
	-moz-transition:margin-left 0.4s ease-in-out;
	-o-transition:margin-left 0.4s ease-in-out;
	-ms-transition:margin-left 0.4s ease-in-out;
	transition:margin-left 0.4s ease-in-out;
}
}
#magazine .turn-page{
	background-color:#ccc;
	background-size:100% 100%;
}

.social_strip{
	position:relative;
	width: 10vh;
	height: 100%;
	display: flex;
	flex-direction:column;
	justify-content:flex-end;
}

.in_page{

	width: 51.1vh;
	height:76vh;
}

.s_icons{
	width:8vh;
	height:8vh;
	margin: 1vh;
	background-size: 8vh 8vh; 
}

#book_box{

}
.pbox{
	height: 10vh;
	width:100%;
	margin-top: 3vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#bar{
	height:10vh;
	width: 100%;
	margin: 0 auto;
}

#clock{
	height: 10vh;
	width: 80vh;
	margin: 0 auto;
}

#s_box{
	position: relative;
	height: 100%;
	float: right;
	padding: 1vh;
	width: 8vh;

}

.page_content{

	width: 51.1vh;
	height:76vh;
	background-size: 51.1vh 76vh;
}

.out{

	background-size:53.8vh 80vh;
}	
#last{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
#lasti{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

path{

	stroke-dasharray: 4720;
	stroke-dashoffset:0;
	animation: dash 5s linear;
}

@keyframes dash{
	from{

		stroke-dashoffset:4720;
	}
	to {
		stroke-dashoffset: 0;

	}
}

#magazine .depth{
	background-image:url(../img/pages-depth.png);
	background-size: 2vh 76vh; 
	position:absolute;
	top:2vh;
	width:2vh;
	height:76vh;
}

#rd{

	margin-right:1.6vh;
}

#ld{

	margin-left: 1vh;
}

.mascot{
	position: absolute;
	top: 50%;
	left:50%;
	height:20vh;
	width:17.714vh;
	margin-left: -8.857vh;
	margin-top: -10vh;
	background-image:url(../img/glow.png);
	background-size:17.714vh 20vh;
}

.tHead{
	position: relative;
	top: 15%;
	font-weight: bold;
	font-size: 1.5em;
	max-width: 70%;
	margin:auto;
}

.tBody {
	position: relative;
	max-width: 70%;
	text-align: justify;
	top: 20%;
	margin: auto;
}
