@font-face {
	font-family: 'Harry P';
	src: url(HARRYP__.TTF);
}

@font-face {
	font-family: 'CynthoPro-Regular';
	src: url(CynthoPro-Regular.otf);
}

html{

	height:100%;
	width:100%;
	padding:0;
	overflow:none;
}


body{
	font-size: 16px;
	position: absolute;
	height: 100%;
	width:100%;
	padding:0;
	margin: 0;
	top:0;
	bottom: 0;
	text-align: center;
	display: flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
}


@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
	from {background-position:0 0;}
	to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
	from {background-position:0 0;}
	to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
	from {background-position:0 0;}
	to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
	from {background-position: 0;}
	to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	display:block;
}

.stars {
	background:#000 url(../img/stars.png) repeat top center;
	z-index:-10;
}

.twinkling{
	background:transparent url(../img/twinkling.png) repeat top center;
	z-index:-5;

	-moz-animation:move-twink-back 200s linear infinite;
	-ms-animation:move-twink-back 200s linear infinite;
	-o-animation:move-twink-back 200s linear infinite;
	-webkit-animation:move-twink-back 200s linear infinite;
	animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(../img/clouds3.png) repeat top center;
    z-index:-3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}



.center{
	width:50vw;
	margin:auto;
	margin-top:3vh;
}
/*
@media screen and (max-width: 694px) {
	.center {
		width: 95vw;
	}

}*/

#magazine{
	position: relative;
	height: 80vh;
	width:108vh;
	margin-top: 5vh;

}

.bigScreenTransition {
	-webkit-transition:margin-left 0.4s ease-in-out ;
	-moz-transition:margin-left 0.4s ease-in-out ;
	-o-transition:margin-left 0.4s ease-in-out ;
	-ms-transition:margin-left 0.4s ease-in-out ;
	transition:margin-left 0.4s ease-in-out ;
}


.smlScreenTransition {
	-webkit-transition:right 0.4s ease-in-out , left 0.4s ease-in-out;
	-moz-transition:right 0.4s ease-in-out , left 0.4s ease-in-out;
	-o-transition:right 0.4s ease-in-out , left 0.4s ease-in-out;
	-ms-transition:right 0.4s ease-in-out , left 0.4s ease-in-out;
	transition:right 0.4s ease-in-out , left 0.4s ease-in-out;
}

#magazine .turn-page{
	background-color:#fff;
	background-size:100% 100%;
}

.social_strip{
	position:absolute;
	width: 10vh;
	height: 97%;
	display: flex;
	flex-direction:column;
	justify-content:flex-end;
}

.in_page{

	width: 100%;
	height:76vh;
}

.backCover{
	-webkit-transition:left 0.4s ease-in-out;
	-moz-transition:left 0.4s ease-in-out;
	-o-transition:left 0.4s ease-in-out;
	-ms-transition:left 0.4s ease-in-out;
	transition:left 0.4s ease-in-out;
}

.s_icons{
	width:8vh;
	height:8vh;
	margin: 1vh;
}

#book_box{

}
#pboxOuter{
	margin: auto;
	position: absolute;
	bottom: 0;
	left:0;
	width:100vw;

}

.pbox{
	height: 10vh;
	width:50%;
	color:#FFF;
	margin: 7px auto;
	display: block;
	align-items: center;
}

.ctime {
  font-family: 'CynthoPro-Regular';
	margin: 10px auto;
	color: #F4E497;
}
 .pbox .row {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
 }

#bar{
	/*height:10vh;*/
	width: 100%;
	background-color: #351600;
	border-radius: 5px;
	height: 1vh;
    margin: 2.1vh 4vh;
	/*margin: 0 auto;*/
}

#bar2{
	width: 1%;
	position: relative;
	z-index: 100;
	background-color: #F4E497;
	border-radius: 5px;
	height: 1vh;
}

#clock{
	height: 10vh;
	width: 80vh;
	margin: 0 auto;
}

#s_box{
	position: absolute;;
	height: 100%;
	right: 0;
	margin-right: 2vh;
	width: 8vh;
	z-index: 35;
}

.page_content{
	display: flex;
	flex-direction: column;
	width: 51.1vh;
	height:76vh;
	background-size: 51.1vh 76vh;
}

.out{
	width: 100%;
	background-size:53.8vh 80vh;
}
#last{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
#lasti{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

path{

	stroke-dasharray: 4720;
	stroke-dashoffset:0;
	animation: dash 5s linear;
}

@keyframes dash{
	from{

		stroke-dashoffset:4720;
	}
	to {
		stroke-dashoffset: 0;

	}
}

#magazine .depth{
	background-image:url(../img/pages-depth.png);
	background-size: 2vh 76vh;
	position:absolute;
	top:2vh;
	width:2vh;
	height:76vh;
}

#rd{

	margin-right:1.6vh;
}

#ld{

	margin-left: 1vh;
}

.mascot{
	position: absolute;
	top: 50%;
	left:50%;
	height:20vh;
	width:17.714vh;
	margin-left: -8.857vh;
	margin-top: -10vh;
	background-image:url(../img/glow.png);
	background-size:17.714vh 20vh;
}

.tHead{
	font-family:'Harry P';
	/*position: relative;*/
	/*top: 15%;*/
	color: #362609;
	font-weight: bold;
	font-size: 2.7em;
	max-width: 70%;
	margin:0 auto;
	margin-top: 13%;
}

.tBody {
	font-family:'Harry P';
	color: #362609;
	/*position: relative;*/
	max-width: 70%;
	text-align: justify;
	/*top: 20%;*/
	margin: 0 auto;
	margin-top:10%;
	font-size: 1.5em;
}

.tBody a{
  text-decoration: none;
  color: #362609;
}

.textras {
	/*position: relative;*/
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}

.hrule {
	width: 10vw;
	margin: auto 2px;
	height: 2px;
	background-color: #362609;
}

.star {
	height: 2vh;
}

.slogo {
	height: 5vh;
}

.logo {
	width: 10vw;
	right: 5%;
	bottom: 5%;
	position: absolute;
}

#magazine .tabs{
	width:100%;
	height:22px;
	display: none;
	top:-22px;
	position:relative;
	z-index:1;
}

#magazine .tabs > div{
	width:40%;
	height:22px;

}

#magazine .tabs .left{
	text-align:left;
	margin-left:10px;
	float:left;
}


#magazine .tabs .right{
	text-align:right;
	margin-right:10px;
	float:right;
}

#magazine .tabs a{
	color:black;
	-webkit-border-image: url(../img/tab-off.png) 5 20 5 20 repeat stretch;
	border-width: 5px 20px 5px 20px;
	display:inline-block;
	font:bold 11px arial;
	text-shadow:1px 1px 0 #ddd;
	color:#333;
	line-height:12px;
	text-decoration:none;
}

#magazine .tabs .on,
#magazine .tabs .on:hover{
	-webkit-border-image: url(../img/tab-on.png) 5 20 5 20 repeat stretch;
	cursor:default;
}

#magazine .tabs a:hover{
	color:black;
	text-decoration: none;
	cursor:pointer;
	-webkit-border-image: url(../img/tab-hover.png) 5 20 5 20 repeat stretch;

}


#space {
  position: absolute;
	top: 0;
	left: 0;
  z-index: -10;
  background: #000000;
}
