@font-face {
	font-family: 'Harry P';
	src: url(HARRYP__.TTF);
}

@font-face {
	font-family: 'Metalista';
	src: url(Metalista.woff);
}

@font-face {
	font-family: 'Requiem';
	src: url(Requiem.ttf);
}



html{

	height:100%;
	width:100%;
	padding:0;
	overflow:none;
}


body{
	font-size: 16px;
	position: absolute;
	height: 100%;
	width:100%;
	padding:0;
	margin: 0;
	top:0;
	bottom: 0;
	text-align: center;
	display: flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
	background: url(../img/bg.jpg)
}

.outborder {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	position: fixed;
	margin:15px;
	/*width: 100%;*/
	/*height: 100%;*/
	border: 10px solid transparent;
    padding: 15px;
    /*-webkit-border-image: url(border.png) 30 round; /* Safari 3.1-5 */
    /*-o-border-image: url(border.png) 30 round; /* Opera 11-12.1 */
    border-image: url(../img/borderpatt1.png) 15 repeat;
}

.inborder {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	position: fixed;
	overflow: hidden;
	margin: 30px;
	/*width: 100%;*/
	/*height: 100%;*/
	/*border: 4px dashed #251000;
	box-shadow: inset 0 -1px 0 0 #251000, inset 0 1px 0 0 #251000, 0 1px 0 0 #251000, 0 -1px 0 0 #251000,
	inset -1px 0 0 0 #251000,1px 0 0 0 #251000,inset 1px 0 0 0 #251000,-1px 0 0 0 #251000;
    padding: 15px;*/
    /*-webkit-border-image: url(border.png) 30 round; /* Safari 3.1-5 */
    /*-o-border-image: url(border.png) 30 round; /* Opera 11-12.1 */
    /*border-image: url(../img/borderpatt2.png) 20 repeat;*/
}




.dashing {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}
.dashing:nth-of-type(1) {
  transform: rotate(0deg);
}
.dashing:nth-of-type(2) {
  transform: rotate(90deg);
}
.dashing:nth-of-type(3) {
  transform: rotate(180deg);
}
.dashing:nth-of-type(4) {
  transform: rotate(270deg);

}
.dashing i {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
	padding: 0.4px;
	border-bottom: 4px dashed #251000;
	box-shadow: inset 0 -1px 0 0 #251000, 0 1px 0 0 #251000;
  animation: slideDash 15s infinite linear;
}


@keyframes slideDash {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

#top, #bottom, #left, #right {
	position: fixed;
	background-size: cover;
	}
	#left, #right {
		background: url(../img/bd-left.jpg);
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		background: url(../img/bd-top.jpg);
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

.center{
	width:50vw;
	margin:auto;
	margin-top:2vh;
}

/*
@media screen and (max-width: 694px) {
	.center {
		width: 95vw;
	}

}*/

#magazine{
	position: relative;
	height: 67vh;
	width:90vh;
	margin-top: 10vh;
	/*overflow: hidden;*/
	z-index: 10;
}


.bigScreenTransition {
	-webkit-transition:margin-left 0.4s ease-in-out ;
	-moz-transition:margin-left 0.4s ease-in-out ;
	-o-transition:margin-left 0.4s ease-in-out ;
	-ms-transition:margin-left 0.4s ease-in-out ;
	transition:margin-left 0.4s ease-in-out ;
}


.smlScreenTransition {
	-webkit-transition:right 0.4s ease-in-out , left 0.4s ease-in-out;
	-moz-transition:right 0.4s ease-in-out , left 0.4s ease-in-out;
	-o-transition:right 0.4s ease-in-out , left 0.4s ease-in-out;
	-ms-transition:right 0.4s ease-in-out , left 0.4s ease-in-out;
	transition:right 0.4s ease-in-out , left 0.4s ease-in-out;
}

#magazine .turn-page{
	background-color:#fff;
	background-size:100% 100%;
}

.social_strip{
	position:absolute;
	width: 10vh;
	height: 97%;
	display: flex;
	flex-direction:column;
	justify-content:flex-end;
}

.in_page{

	width: 100%;
	height:64vh;
}

.backCover{
	-webkit-transition:left 0.4s ease-in-out;
	-moz-transition:left 0.4s ease-in-out;
	-o-transition:left 0.4s ease-in-out;
	-ms-transition:left 0.4s ease-in-out;
	transition:left 0.4s ease-in-out;
}

.s_icons{
	width:8vh;
	height:8vh;
	margin: 1vh;
}

#book_box{

}
#footer{
	margin: auto;
	position: absolute;
	bottom: 4px;
	left:0;
	width:100vw;

}

.pbox{
	height: 10vh;
	width:50%;
	color:#FFF;
	margin: 2px auto;
	display: inline-block;
	float: left;
	align-items: center;
}

 .pbox .row {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
 }

#bar{
	/*height:10vh;*/
	width: 100%;
	background-color: #351600;
	border-radius: 5px;
	height: 1vh;
    margin: 2.1vh 4vh;
	/*margin: 0 auto;*/
}

#bar2{
	width: 1%;
	position: relative;
	z-index: 100;
	background-color: #F4E497;
	border-radius: 5px;
	height: 1vh;
}

#clock{
	height: 10vh;
	width: 80vh;
	margin: 0 auto;
}

#s_box{
	height: 100%;
	margin-right: 2vh;
	width: 8vh;
	float: right;
	z-index: 35;
}

.page_content{
	display: flex;
	flex-direction: column;
	width: 43vh;
	height:64vh;
	background-size: 45vh 64vh;
}

.out{
	width: 100%;
	background-size:45vh 67vh;
}
.shadow {
  -webkit-box-shadow: 5px 5px 30px 0px #000;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    5px 5px 30px 0px #000;  /* Firefox 3.5 - 3.6 */
  box-shadow:         5px 5px 30px 0px #000;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#last{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
#lasti{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

path{

	stroke-dasharray: 4720;
	stroke-dashoffset:0;
	animation: dash 5s linear;
}

@keyframes dash{
	from{

		stroke-dashoffset:4720;
	}
	to {
		stroke-dashoffset: 0;

	}
}

#magazine .depth{
	background-image:url(../img/pages-depth.png);
	background-size: 2vh 76vh;
	position:absolute;
	top:1.5vh;
	width:2vh;
	height:64vh;
	overflow: hidden;
}

#rd{

	float: right;
}

#ld{

	margin-left: 1vh;
}

.mascot{
	position: absolute;
	top: 50%;
	left:50%;
	height:13.5438vh;
	width:12vh;
	margin-left: -6vh;
	margin-top: -6.774vh;
	background-image:url(../img/glow.png);
	background-size:12vh 13.5438vh;
}

.tHead{
	font-family:'Harry P';
	/*position: relative;*/
	/*top: 15%;*/
	color: #362609;
	font-weight: bold;
	max-width: 70%;
	letter-spacing: 5px;
	font-size: 2.35em;
	margin:0 auto;
	margin-top: 13%;
}

.tBody {
	/*font-family:'Harry P';*/
	color: #362609;
	/*position: relative;*/
	max-width: 80%;
	text-align: justify;
	/*top: 20%;*/
	margin: 0 auto;
	margin-top:2%;
	font-size: 0.994em;
}

.description a{
	text-decoration: none;
	color: #362609;
	font-family: 'Harry P',sans-serif;
}

.tBody p{
	background: inherit;
  color: #362609;
	margin: 0 auto;
	width: 100%;
	height: 28px;
	position: relative;
 min-width: 170px;
}

.tBody p span{
	line-height: 28px;
}

.description{
	float: left;
	bottom: 0;
	font-size: 1.4em;
}

.dots{
	position: relative;
	float: left;
	width: 0;
	/*bottom:7px;*/
	overflow: hidden;
}

.pNo{
	float: right;
	/*bottom: 2px;*/
	font-size: 1.1em;
	position: relative;
}

.textras {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}

.hrule {
	width: 10vw;
	margin: auto 2px;
	height: 2px;
	background-color: #362609;
}

.star {
	height: 2vh;
}

.slogo {
	height: 5vh;
}

.logo {
	width: 10vw;
	right: 5%;
	bottom: 5%;
	position: absolute;
}

#magazine .tabs{
	width:100%;
	height:22px;
	display: none;
	top:-22px;
	position:relative;
	z-index:1;
}

#magazine .tabs > div{
	width:40%;
	height:22px;

}

#magazine .tabs .left{
	text-align:left;
	margin-left:10px;
	float:left;
}


#magazine .tabs .right{
	text-align:right;
	margin-right:10px;
	float:right;
}

#magazine .tabs a{
	color:black;
	-webkit-border-image: url(../img/tab-off.png) 5 20 5 20 repeat stretch;
	border-width: 5px 20px 5px 20px;
	display:inline-block;
	font:bold 11px arial;
	text-shadow:1px 1px 0 #ddd;
	color:#333;
	line-height:12px;
	text-decoration:none;
}

#magazine .tabs .on,
#magazine .tabs .on:hover{
	-webkit-border-image: url(../img/tab-on.png) 5 20 5 20 repeat stretch;
	cursor:default;
}

#magazine .tabs a:hover{
	color:black;
	text-decoration: none;
	cursor:pointer;
	-webkit-border-image: url(../img/tab-hover.png) 5 20 5 20 repeat stretch;

}


#space {
  position: absolute;
	top: 0;
	left: 0;
  z-index: -10;
  background: #000000;
}

.instructions{
	color: #C9A364;
	width: 45%;
	height: 100%;
	left: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inner{
	margin: auto 18px;
}

.title,.content{
	text-align: left;
}

.title{
	font-family: 'Metalista',sans-serif;
	margin:3px 0 22px 0;
	font-size: 1.6em;
}

.content{
	font-size: 0.62em;
  margin: 18px 0;
	font-family: 'Lato', sans-serif;
}


#logoMain{
	position: absolute;
	width:18%;
	left:45px;
	top:45px;
	/*float: left;*/
    /*display: inline-block;*/
}

#logoMain img{
	width:100%;
}

#leftlady {
	position: absolute;
    bottom: 54px;
    left: 54px;
}

#leftlady img {
	width: 10vw;
}

#compass {
	position: absolute;
	right: 40px;
	top:40px;
}

#compass img {
	width: 10vw;
}

.ctime {
	font-family: 'Harry P', sans-serif;
	margin: 10px auto;
	color: rgb(113, 26, 16);
	font-size: 1.4em;
	/*#362609;*/
}

#rightman {
	position: absolute;
	right: 40px;
	bottom:40px;
}

#rightman img {
	width: 18vw;
}

/*@media screen and (max-width:760px){
	#logoMain img{
		width:85%;
	}
}*/

@media screen and (max-width:694px){
	#rightman img{
		width:10vh;
	}

	#leftlady img{
		width: 5vh;
	}

	#leftlady{
		bottom:45px;
	}

	#compass .row:nth-of-type(1){
		display: none;
	}

	.ctime{
		margin: 0 auto;
		font-size: 1.1em;
	}
}

.wrapperCenter{
	position: relative;
	top:0;
	left: 0;
	width:100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#videoBox{
	position: relative;
	width:80%;
}

#videoBox iframe{
	display: none;
	position: relative;
  border: 2px dashed #000;
	/*box-shadow: inset 0 -1px 0 0 rgb(31, 22, 15), inset 0 1px 0 0 rgb(31, 22, 15), 0 1px 0 0 rgb(31, 22, 15), 0 -1px 0 0 rgb(31, 22, 15),
		inset -1px 0 0 0 rgb(31, 22, 15), 1px 0 0 0 rgb(31, 22, 15),inset 1px 0 0 0 rgb(31, 22, 15), -1px 0 0 0 rgb(31, 22, 15);*/
}

/*.loader{
	position: absolute;
	margin: 0 auto;
	display: block;
}*/


.loader{
	position: relative;
	width: 7px;
	height: 7px;
	left: 46%;
	left: calc(50% - 4px);
		left: -o-calc(50% - 4px);
		left: -ms-calc(50% - 4px);
		left: -webkit-calc(50% - 4px);
		left: -moz-calc(50% - 4px);

	border-radius: 7px;
	background-color: rgb(31, 22, 15);
	transform-origin:	50% 50%;
		-o-transform-origin:	50% 50%;
		-ms-transform-origin:	50% 50%;
		-webkit-transform-origin:	50% 50%;
		-moz-transform-origin:	50% 50%;
	animation: loader 1.15s ease-in-out infinite;
		-o-animation: loader 1.15s ease-in-out infinite;
		-ms-animation: loader 1.15s ease-in-out infinite;
		-webkit-animation: loader 1.15s ease-in-out infinite;
		-moz-animation: loader 1.15s ease-in-out infinite;
}

.loader:before{
	content: "";
	position: absolute;
	background-color: rgb(31, 22, 15);
	top: 0px;
	left: -16px;
	height: 7px;
	width: 7px;
	border-radius: 7px;
}

.loader:after{
	content: "";
	position: absolute;
	background-color: rgb(31, 22, 15);
	top: 0px;
	left: 16px;
	height: 7px;
	width: 7px;
	border-radius: 7px;
}




@keyframes loader{
		0%{transform:rotate(0deg);}
		50%{transform:rotate(180deg);}
		100%{transform:rotate(180deg);}
}

@-o-keyframes loader{
		0%{-o-transform:rotate(0deg);}
		50%{-o-transform:rotate(180deg);}
		100%{-o-transform:rotate(180deg);}
}

@-ms-keyframes loader{
		0%{-ms-transform:rotate(0deg);}
		50%{-ms-transform:rotate(180deg);}
		100%{-ms-transform:rotate(180deg);}
}

@-webkit-keyframes loader{
		0%{-webkit-transform:rotate(0deg);}
		50%{-webkit-transform:rotate(180deg);}
		100%{-webkit-transform:rotate(180deg);}
}

@-moz-keyframes loader{
		0%{-moz-transform:rotate(0deg);}
		50%{-moz-transform:rotate(180deg);}
		100%{-moz-transform:rotate(180deg);}
}


#clock {
	position: relative;
	width: 10vw;
	height: 10vw;
	margin: 0 auto;
	background: transparent;
	list-style: none;
	}

#sec, #min, #hour {
	position: absolute;
	width: 10vw;
	height: 10vw;
	transform: scale(0.3);
	}

#sec {
	background: url(../img/3.png);
	background-size: contain;
	z-index: 1;
	animation: scale 4s linear;
		}

#min {
	background: url(../img/2.png);
	background-size: contain;
	z-index: 2;
	animation: scale 3s linear;

		}

#hour {
	background: url(../img/-1.png);
	background-size: contain;
	z-index: 3;
	animation: scale 2s linear;

		}

		@keyframes scale{
			0%
			{
				transform: scale(0.3);
			}
			100%
			{
				transform:scale(1);
			}
		}


#socialBoxRow{
	position: absolute;
	bottom: 44px;
	width: 100%;
	z-index: 10;
	height: 5.5vh;
}

#socialBox{
	margin: 0 auto;
	width: 25%;
	height: 100%;
}

.socialIcon{
	float: left;
	width:33%;
	height: 100%;
}


@media screen and (min-width:1000px) {
	#socialBox{
		width: 20%
	}
}

@media screen and (max-width:600px) {
	#socialBox{
		width: 27%
	}

	#socialBoxRow{
		height: 3.7vh;
	}
}
.socialIcon img{
	height: 18px;
	padding: 5px;
	vertical-align: middle;

}

@media screen and (max-width:380px) {
	.socialIcon img{
		height: 15px;
	}
}

.innerBox:nth-of-type(2) + .innerBox:hover{
	-webkit-filter: hue-rotate(546deg) saturate(4181.1%)
}
.innerBox{
	cursor:pointer;
	width: 45%;
	height:80%;
	padding:3px;
	margin: 0 auto;
	border: 2px solid #251000;
	border-radius: 7px;
	background-repeat: no-repeat;
	background-size: auto 80%;
	background-position: center;
}


.overlay{
	position: absolute;
	width: 100vw;
	height: 100vh;
	top:0;
	left: 0;
	margin: 0;
	z-index: 5;
	opacity: 0;
	background: black;
	transition: opacity 0.2s;
}


#mobileControls{
	position: absolute;
	bottom:80px;
	width: 100%;
	z-index: 10;
	height: 3.7vh;
}

#mobileControls img{
	z-index: 10;
}


#controlsBox{
	margin: 0 auto;
	width:20%;
	height: 100%;
}

#leftControl{
	cursor:pointer;
	width:40%;
	height:100%;
	float: left;
	margin-right:5px;
	background-image: url(../img/left.png);
	background-repeat: no-repeat;
	background-size: auto 80%;
	background-position: center;
}

#rightControl{
	cursor:pointer;
	width: 40%;
	height: 100%;
	float: right;
	margin-left:5px;
	background-image: url(../img/right.png);
	background-repeat: no-repeat;
	background-size: auto 80%;
	background-position: center;
}

.disabled{
	opacity: 0.5;
}

@media screen and (min-width:694px) {
	#mobileControls{
		display: none;
	}
}


.video{
	margin:15px 10px;
}


.thumbnailImg{
	width:100%;
  margin: 3px 0px;
}

.thumbnailImg img{
	display: block;
	height: 13vh;
	margin: 0 auto;
  border: 2px dashed #000;
	cursor: pointer;
}


.name{
	text-align: center;;
}



.name p{
	margin: 0;
	font-family: 'Lato',sans-serif;
	font-size: 0.7em;
	height: auto !important;
	width: auto !important;
}
